.Intro{
    background-color: rgba(127, 255, 212, 0.568);
    background-blend-mode: multiply;
    .in{

        // text-align: center;
        display: flex;
        align-items: center;
        h1{
            line-height: .8;
            text-align: left;
            span {
                display: block;
                text-transform: uppercase;
            }
        }
    }
}